.ranged {
    width: 200px;
}
fieldset {
    padding: 0.2rem;
    border-radius: 0.4rem;
    legend {
        text-align: left;
        margin-inline: 2rem;
        padding-inline: 0.4rem;
    }
}
fieldset {
    display: grid;
    grid-template-columns: 1fr 2fr auto;
    > div {
        display: grid;
        grid-column: 1/ 3;
        grid-template-columns: subgrid;
    }
}
fieldset.buttons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.temperature {
    input[type='range'] {
        width: 250px;
    }
    datalist {
        width: 250px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        writing-mode: vertical-lr;
    }
}
