@import url('./index-styled.css');

:root {
    color-scheme: light dark;
    font-size: 16px;

    font-family: 'Calibri', system-ui, -apple-system, BlinkMacSystemFont,
        'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
        'Helvetica Neue', sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 3rem;
    font-weight: 900;
}
h2 {
    font-weight: 700;
    font-size: 2.5rem;
}
h3 {
    font-weight: 600;
    font-size: 2rem;
}
h4 {
    font-weight: 300;
    font-size: 1.75rem;
}
h5 {
    font-weight: 200;
    font-size: 1.5rem;
}

h6 {
    font-weight: 100;
    font-size: 1.2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-style: oblique 6deg;
}

a {
    font-style: oblique 15deg;
}

hr {
    --width: 100%;
    --height: 2px;

    --clr_1: hsl(15 100% 50%);
    --clr_2: hsl(60 100% 50%);

    width: var(--width);
    height: var(--height);

    margin-inline: calc((100% - var(--width)) / 2);

    margin-block: calc(var(--height) * 2);

    background-image: radial-gradient(
        circle farthest-side at 50% 50% in hsl,
        var(--clr_1),
        var(--clr_2)
    );
    border: none;
}

body {
    min-height: 100vh;
    min-height: calc(100svh - 1rem);
    margin: 1rem 1rem 0 1rem;
}

ul,
ol {
    margin-left: 2rem;
}

button,
input {
    padding: 0.2rem;
    margin: 0.2rem;
    vertical-align: middle;
}

input:is([type='radio'], [type='checkbox']) {
    padding: 0;
    width: 1rem;
    height: 1rem;
}

/*
input[type='button'],
input[type='checkbox'],
input[type='radio'],
input[type='color'],
input[type='date'],
input[type='datetime'],
input[type='email'],
input[type='file'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='range'],
input[type='search'],
input[type='time'],
input[type='url'],
input[type='week'],
input[type='image'],
input[type='number'],
input[type='reset'],
input[type='submit'],
input[type='tel'],
input[type='text']
*/

button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
    border: none;
    border-radius: 0.2rem;
    padding: 0.3rem 0.4rem;

    &:active {
        background-color: white;
        color: black;
    }
}
